/* #region Root Variables */
:root {
  --red: #981b36;
  --link-red: #981b36cc;
  --white: #fefefe;
  --gray: #3e3c36;
  --light-gray: #f8f8f8;
  --mobile-margin: 32px;
  --desktop-margin: 67px;
  --a-hover-height: 0.31em;
  --a-h3-hover-height: 0.34em;
  --a-h1-hover-height: 0.38em;
}
/* #endregion */

/* #region Global Styles */
html {
  font-family: "Libre Franklin", sans-serif;
  font-size: clamp(13px, 1.6vw, 16.5px);
  --margin: clamp(var(--mobile-margin), 3rem, var(--desktop-margin));
  color: var(--gray);
}

body {
  margin: 0;
}

#body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--margin);
  padding: calc(3 * var(--margin)) 0px;
}

#body > div {
  display: flex;
  padding: 0px calc(3 * var(--margin));
  gap: 4rem;
  max-width: 1440px;
}

#body > div.no-padding-right {
  padding-right: 0px;
  max-width: none;
}

#body > div.no-padding-left {
  max-width: none;
  padding: 0px;
  /* padding-left: 2rem; */
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

#body > div.no-padding-left img {
  width: 50%;
}


#carousel-descriptions {
  max-width: 1440px;
}

footer div {
  max-width: 1440px;
}
/* #endregion */

/* #region Typography */
h1,
h2,
h3,
p,
a {
  margin: 0;
}

h1,
h2 {
  font-family: Oswald, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.04463rem;
  text-transform: uppercase;
  white-space: nowrap;
}

h2 {
  font-size: 2.375rem;
  line-height: 160%;
}

header h3 {
  font-family: Oswald, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: var(--white);
}

p,
a {
  font-style: normal;
  font-weight: 420;
  line-height: 1.75rem;
  letter-spacing: 0.0225rem;
  color: var(--gray);
}

.small-text {
  font-size: 0.8rem;
}

h3 {
  line-height: 2rem;
}

p.light {
  /* color: rgba(62, 60, 54, 0.70); */
  font-family: "Libre Franklin";
  font-size: 0.9em;
  font-style: normal;
  /* font-weight: 500; */
  line-height: 1.5rem;
}

h3.light {
  margin: 0px;
}
/* #endregion */

/* #region Link Styles */
a:not(.arrow) {
  position: relative;
  text-decoration: none;
  display: inline-block;
  z-index: 1;
}

a:not(.arrow)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.1875rem;
  width: 100%;
  height: 0.0625rem;
  background-color: var(--link-red);
  transition: height 0.3s ease;
  z-index: -1;
}

a:not(.arrow):hover::before {
  height: var(--a-hover-height);
}

a:not(.arrow):has(h3)::before,
a:not(.arrow):has(h1)::before,
#visit-button div a:not(.arrow)::before {
  height: 0;
}

a:not(.arrow):has(h3):hover::before,
#visit-button:hover div a:not(.arrow)::before {
  height: var(--a-h3-hover-height);
}

a:not(.arrow):has(h1):hover::before {
  height: var(--a-h1-hover-height);
}
/* #endregion */

/* #region Arrow Styling And Animation */
a.arrow {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  position: relative;
  overflow: hidden;
  margin: 0.5rem 1rem;
  border-radius: 20rem;
  margin-left: 0px;
  padding-left: 0.7rem;
  transition: color 0.2s ease;
  font-weight: 440;
}

a.arrow::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  background-color: var(--red);
  transition: left 0.2s ease;
  z-index: -1;
}

a.arrow:hover {
  color: var(--white);
}

a.arrow:hover::before {
  left: 0;
}

.arrow-img {
  width: 2rem;
  height: auto;
}

.arrow-group {
  gap: 0.5rem;
}
/* #endregion */

/* #region Header Styles */
header {
  display: flex;
  height: 65vh;
  padding: 3rem;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
}

#header1 {
  background: url(images/guilfordwoods.png) lightgray 50% / cover no-repeat;
}

#top-nav, #top-nav > div {
  height: 5.9375rem;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-radius: 2rem;
  background: var(--gray);
  
  max-width: 1343.12px;
  
}

@media screen and (min-width: 800px) {
  #top-nav, #top-nav > div {
    display: flex;
    padding-left: 2rem;
  }  
}
  #visit-button {
  display: flex;
  width: 5.9375rem;
  height: 5.9375rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 2rem;
  background: var(--gray);
}

header div a {
  color: var(--white);
}

header div a::after {
  height: 0rem;
}

#top-nav-links {
  display: flex;
  padding: 0rem 1.42856rem;
  justify-content: flex-end;
  align-items: center;
  gap: -0.5rem;
  flex: 1 0 0;
}

.top-nav-anchor {
  display: flex;
  width: 7.44rem;
  justify-content: center;
  align-items: center;
}

.mobile-nav {
  display: none;
  height: 2rem;
  width: auto;
}

/* #endregion */

/* #region Footer Styles */
footer {
  display: flex;
  align-items: flex-start;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: #f5f6f8;
  width: 100vw;
  justify-content: center;
  gap: var(--margin);
  padding-bottom: 5rem;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: var(--margin);
  gap: 1rem 3.55556rem;
  width: fit-content;
  justify-content: space-between;
  flex-wrap: wrap;
}

#bottom-row {
  padding-left: var(--margin);
  padding-right: var(--margin);
  display: flex;
  align-items: center;
  gap: 0.7rem 4.375rem;
  align-self: stretch;
  flex-wrap: wrap;
  max-width: 70vw;
}

.library-links:has(.library-links) {
  gap: 2rem 0px;
  padding: var(--margin);
  padding-top: 0px;
}

#middle-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.7rem 4.375rem;
  width: clamp(210px, 32vw, 320px);
}

#Guilford,
#College {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  text-transform: uppercase;
  line-height: normal;
  font-weight: 280;
  margin: 0px;
}

#Guilford {
  color: var(--red);
  font-size: 2.8rem;
}

#College {
  color: var(--gray);
  font-size: 1.53rem;
}

footer .library-links {
  flex-wrap: wrap;
  align-items: flex-start;
  display: flex;
  gap: 0vw 6vw;
  flex: 1 0 0;
  max-width: calc(640px + 40vw);
}

.footer-component {
  display: flex;
  width: clamp(210px, 32vw, 320px);
  padding: 1rem 0rem;
  align-items: flex-start;
  gap: 2rem;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  padding-right: 0.5rem;
  box-sizing: border-box;
}

.footer-component:hover {
  padding-left: 0.5rem;
  padding-right: 0px;
  transition: all 0.4s ease;
}

.footer-component:hover .footer-component-text {
  color: var(--red);
}

.footer-component-text {
  font-size: 0.75rem;
}

#bottom-row a {
  display: flex;
  flex-wrap: nowrap;
}
/* #endregion */

/* #region Content Styles */
#body > div > img {
  max-width: 50%;
}

.text-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex: 1 0 0;
  max-width: 43.75rem;
}

.text-arrow-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

.text-arrow-container > p {
  margin-bottom: 2rem;
}

.text-arrow-container > a.arrow {
  margin-top: -1.5rem;
}

.text-arrow-container > a.arrow:first-of-type {
  margin-top: 0;
}

#lake-img {
  width: 33%;
  height: auto;
}
/* #endregion */

/* #region Plant Card styles */
/* Plant Card Container */
#plant-card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
}

/* General Plant Card Styles */
.plant-card {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
  padding: 3.2rem 3rem;
  margin-bottom: 2rem;
  background-color: var(--light-gray);
  position: relative;
  overflow: hidden;
}

/* Plant Card Image Styles */
.plant-card img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

#urr-card img {
  width: 100%;
  height: 18rem;
}

/* Plant Card Content Styles */
.plant-card-content {
  flex: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.plant-card h3 {
  margin: 0 0 1.5rem 0;
}

.plant-card p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.4;
}

/* Hover Effect */
.plant-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--red);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.plant-card:hover::after {
  transform: scaleX(1);
}

.plant-card.clicked::after {
  transform: scaleX(0);
}

/* Table Styles */
table {
  border-spacing: 2rem;
}

/* Underground Railroad Card Specific Styles */
#urr-card {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  flex: 1;
}

/* Mobile Styles */
@media (max-width: 600px) {
  .plant-card {
    flex-direction: column;
  }

  .first-plant-cell .plant-card img,
  .other-plants-cell .plant-card img {
    width: 100%;
    height: auto;
    max-height: 18.8125rem;
  }

  .plant-card img {
    height: 10rem !important;
  }
}

/* Table Styles  */
@media (max-width: 1300px) {
  td:has(#urr-card) {
    width: 100%;
  }
  table {
    display: grid;
    grid-template-columns: 1fr;
  }
  table td {
    display: block;
    width: 100%;
  }

}


tbody {
  width: 81vw;
  max-width: 1440px;
}

td {
  vertical-align: top;
}
/* #endregion */

/* #region History Section styles */

  /* #region Main Carousel Container */
  #carousel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1600px;
  }
  /* #endregion */

  /* #region Carousel Content */
  #carousel-content {
    display: flex;
    height: 35.9375rem;
    align-items: flex-start;
    justify-content: flex-end;
    align-self: stretch;
    width: 100%;
    max-width: 1600px;
  }

  #carousel-content img {
    width: 70%;
    height: 100%;
    object-fit: none;
    object-position: top;
  }
  /* #endregion */

  /* #region Carousel Text Content */
  #carousel-text-content {
    display: flex;
    padding: 1.5rem 3rem 1.5rem 0rem;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Mobile-Margin, 2rem);
    max-height: 100%; 
    overflow-y: auto; 
    box-sizing: border-box; 
    width: 33%;
  }
  /* #endregion */

  /* #region Carousel Navigation */
  #carousel-nav {
    display: flex;
    padding-right: 5rem;
    padding-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
    align-self: stretch;
  }
  /* #endregion */

  /* #region Carousel Controls */
  #carousel-controls {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    width: 100%;
  }

  #carousel-controls > :last-child {
    margin-left: auto;
  }

  #carousel-controls div {
    display: flex;
    align-items: center;
    align-content: center;
    gap: .7rem;
    flex-wrap: wrap;
  }
  /* #endregion */

  /* #region Navigation Buttons */
  .btn {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.55188rem;
    flex-shrink: 0;
  }

  .btn img {
    width: 0.88306rem;
    height: 0.4415rem;
    flex-shrink: 0;
    transform: scale(2);
  }

  .btn#left {
    transform: rotate(180deg);
  }
  /* #endregion */

  /* #region Carousel Descriptions */
  #carousel-descriptions {
    display: flex;
    align-items: flex-start;
    gap: 5.79756rem;
    align-self: stretch;
  }

  #carousel-descriptions div {
    display: flex;
    padding-top: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.39144rem;
    flex: 1 0 0;
  }
  /* #endregion */

  /* #region Inactive Sections */
  .inactive-section,
  .inactive-section p {
    color: #3e3c36;
  }
  /* #endregion */

  /* #region Layout Adjustments */
  #plants-section,
  #history-section {
    flex-direction: column;
  }
  /* #endregion */

  /* #region: Style the scrollbar for webkit browsers */
  #carousel-text-content::-webkit-scrollbar {
    width: 8px;
  }

  #carousel-text-content::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  #carousel-text-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  #carousel-text-content::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  /* #endregion */

  /* #region: Other carousel styles */
  #carousel-nav {
  position: relative;
  }

  #carousel-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: var(--gray);
  transition: width 0.3s ease;
  }

  #carousel-descriptions > div {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: .5;
  }

  #carousel-descriptions > div.active-section {
  opacity: 1;

  }

  #carousel-descriptions > div.active-section::after {
  content: "";
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--red);
  /* transform: scaleX(0); */
  transform-origin: bottom left;
  transition: transform 0.3s ease;
  }
  /* #endregion */

  @media (max-width: 800px) {
    #carousel-descriptions > div > p {
      display: none;
    }
  }

  @media (max-width: 600px) {
    #carousel-content {
      flex-direction: column-reverse;
      height: auto;
    }

    #carousel-content > * {
      width: 100%;
    }

    #carousel-descriptions, 
    #carousel-progress {
      display: none !important;
    }

    #carousel-content img {
      width: 100% !important;
    }

    #carousel-text-content {
      overflow-y: visible;
      height: auto;
    }
  }
/* #endregion */

/* #region Education Section styles */
#education-section > div > div {
  /* display: flex; */
  flex-direction: column;
  gap: .5rem
}

#education-section > div {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

#carousel-descriptions {
  height: 13rem;
}
/* #endregion */




.hamburger {

}

.hamburger.closed {

}

.mobile-nav.opened {
  display: none;
}

div#top-nav-not-links {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-left: .5rem;
  width: 100%;
}

#links-quote-container p {
  display: none;
}


@media screen and (max-width: 800px) {
  #top-nav {
    padding: 0px;
    background: var(--gray);
    height: fit-content;
  }
  #top-nav-links {
    /* display: none; */
    display: flex;
    padding: 1rem 0rem;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 0px;
  }

  .top-nav-anchor {
    display: flex;
    padding: 0.5rem 0.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-items: center;
  }

  .top-nav-anchor:not(.current) {
    
  }

  .mobile-nav {
    display: block;
  }

  #top-nav {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #top-nav img, h1 {
    padding: 3vw;
  }

  h1 {
    font-size: calc(20px + 0.8 * (2rem - 20px));
  }

  #top-nav > #links-quote-container {
    display: flex;
    padding: 0rem 1rem 1.875rem 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
    height: fit-content;
  }
  
  #links-quote-container p {
    color: #FEFEFE;
  
    /* 🌲M | P Light */
    font-family: "Libre Franklin";
    /* font-size: 0.75rem; */
    font-style: normal;
    font-weight: 300;
    line-height: 0.96875rem;
    letter-spacing: -0.0075rem;
    text-decoration-line: underline;
    display: flex;
    width: 80%;
    justify-content: center;
  }
}
/* #region Media Queries */
@media (min-width: 1250px) {
  #body {
    gap: calc(var(--margin) * 1.75);
  }
  header {
    padding: var(--margin) calc(var(--margin) * 1.5);
  }
  #logo,
  .library-links:has(.library-links),
  #bottom-row {
    padding-left: calc(var(--margin) * 1.5);
  }
}

@media (max-width: 1150px) {
  #visit-button {
    display: none;
  }
  
  #body > div {
    /* padding: var(--margin) 0px; */
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding: 0px calc(.5 * var(--margin));
    gap: 2rem;
  }
}
/* iPad Breakpoint */
@media screen and (max-width: 800px) {
  #carousel-content img {
    /* width: 66%; */
    height: 30rem !important;
  }

  #body div#visit-section{
    flex-direction: column-reverse;
  }

  #body {
    padding: calc(10vw + 0.5 * (10vw - var(--margin))) 0px;
  }

  #welcome-section, #visit-section, #plant-section {
    margin: 0px calc(var(--margin));
  }

  header {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #body > div > img {
    height: 30vh;
    width: 100%;
    object-fit: contain;
    max-width: 100%;
  }

  #body > div.no-padding-right {
    padding-left: 2rem;
  }

  #body > div.no-padding-left {
    padding-right: 2rem;
  }
}

@media screen and (max-width: 633px) {
  footer #left-column {
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 375px) {
  .mobile-nav[src*="directions"] {
    display: none;
  }
}
/* #endregion */

